* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Righteous', cursive;
}

div h2 {
    font-family: 'Roboto', sans-serif;
}

main{
    display: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* formatação cabeçalho*/ 

header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;  
    z-index: 1;
}

.headerContainer{
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.headerTitle h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    width: 248px;  
    margin: 8px auto auto 21px;  
}

.headerSubtitle h2 {
    width: 226px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 5px auto 18px 21px;
}

/* fim formatação cabeçalho*/ 

/* formatação do meio da página*/

.mainPageContainer{
    margin: 123px auto auto 19px;
    padding-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menuTitle h1 {
    font-size: 26px;
    font-weight: 400;
    width: 300px;    
}

.menuTitle {
    margin-bottom: 17px;
}

.menu {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 27px;
    overflow-x: scroll;
    width: 100%;
}

.option{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-right: 16px;
    min-height: 250px;
    width: 172px;
    padding: 18px 14px;
    position: relative;
}

.option:hover {
    cursor: pointer;
    
}

.imagem img{
    width: 144px;
    height: 87px;
    margin-bottom: 12px;
}

.foodName {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.description {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}

.cost {
    align-items: flex-start;
    color: #000000;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    margin-top: 5px;
    position: absolute;
    bottom: 25px;
    width: 80%;
}

ion-icon {
    color: #32B72F;
    border-radius: 50%;
}

.select {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-right: 16px;
    min-height: 250px;
    width: 172px;
    padding: 18px 14px;
    position: relative;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
}




/* fim da formatação do meio da página*/




/* formatação do rodapé*/

footer {
    align-items: center;
    background: #FFFFFF;
    bottom: 0px;
    display: flex;
    height: 92px;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 0px;
    z-index: 1;
}

.footerContainer {
    align-items: center;
    background: #CBCBCB;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 61px;
    margin: auto;
    width: 364px;
}

.footerText {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    width: 364px;
    color: #FFFFFF;
}

/* fim formatação do rodapé*/

.hidden {
    display: none;
}
