* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

h1 {
    font-family: 'Righteous', cursive;
}

div h2 {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* formatação cabeçalho*/ 

.header {
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;  
    z-index: 1;
}

.headerContainer{
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.headerTitle h1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    width: 248px;  
    margin: 8px auto auto 21px;  
}

.headerSubtitle h2 {
    width: 226px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin: 5px auto 18px 21px;
}

/* fim formatação cabeçalho*/ 

/* formatação do meio da página*/

.midPageContainer{
    margin: 123px auto 108px 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.menuTitle h1 {
    font-size: 26px;
    font-weight: 400;
    width: 250px;    
}

.menuTitle {
    margin-bottom: 17px;
}

.menu {
    align-items: center;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
}

.option{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
    padding: 18px 14px 12px 14px;
    flex-wrap: wrap;
    width: 172px;

}

.imagem img{
    width: 144px;
    height: 87px;
    margin-bottom: 12px;
}

.foodName {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.description {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}

.price {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

/* fim da formatação do meio da página*/




/* formatação do rodapé*/

.footer {
    align-items: center;
    background: #FFFFFF;
    bottom: 0px;
    display: flex;
    height: 92px;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    left: 0px;
    z-index: 1;
}

.footerContainer {
    align-items: center;
    background: #CBCBCB;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 61px;
    margin: auto;
    width: 364px;
}

.footerText {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    width: 364px;
    color: #FFFFFF;
}

/* fim formatação do rodapé*/